PORT=4000
FRONTEND_ORIGIN=http://127.0.0.1:5173

DB_SERVER=GT-NC-WEB-XG
DB_INSTANCE=SQL2025
DB_PORT=
DB_USER=sa
DB_PASSWORD=change_me
DB_DATABASE=AquaSafeDB
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
